CoreAudio/AudioQueuePlayback/DerivedData/*
CoreAudio/AudioQueueRecorder/DerivedData/*
CoreAudio/SoundIllusion/DerivedData/*
CoreAudio/ToneFileGenerator/DerivedData/*
CoreAudio/playTones/DerivedData/*
